body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:70vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  5px 5px 16px #ffa31a, -5px -5px 16px #ffa31a;
  box-shadow:  8px 8px 16px #ffa31a, -8px -8px 16px #ffa31a;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* background-image:url('https://upload.wikimedia.org/wikipedia/commons/1/10/Zayn_Wiki_%28cropped%29.jpg'); */
  background-color: black;
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.post-description-container{
  display: flex;
  flex-direction: column;
}

.caption{
  margin-bottom: 4rem;
}

.lc-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.like{
  margin-right: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .lc{
  grid-area:lc;
  justify-self: center;
  align-self: center;
} */

/* Social Icons */

.property-social-icons
{
  width:11rem;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: space-between;
}

.LCicons{
    display:flex;
    width: 50%;
}

.EDicons{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

/* .LCicon{


.EDicon{
} */

#heart{

    margin-right:5px;
    width:2rem;
    height: 2rem;
    color:white;
    background-color:grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart:hover{
    width:2rem;
    height: 2rem;
    color:white;
    background-color:#ff4f8f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart-active{
  margin-right:5px;
  width:2rem;
  height: 2rem;
  color:white;
  background-color:#ff4f8f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment{
    width:2rem;
    height: 2rem;
    background-color:gray;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment:hover{
    width:2rem;
    height: 2rem;
    color:black;
    background-color:cyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit{
    width:2rem;
    margin-right:5px;
    height: 2rem;
    background-color:gray;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#edit:hover{
    width:2rem;
    height: 2rem;
    color:black;
    background-color:#ffa31a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete{
    width:2rem;
    height: 2rem;
    background-color:gray;
    color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#delete:hover{
    width:2rem;
    height: 2rem;
    color:white;
    background-color:red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover
{
  background-color:white;
}

.property-card:hover 
{
  background-color:blue;
  cursor:pointer;
}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/